NUXT_PUBLIC_DOMAIN=mint.aex.design
NUXT_PUBLIC_INDEXER_ENDPOINTS=https://indexer.networked.art
NUXT_PUBLIC_RPC1=https://eth.llamarpc.com
NUXT_PUBLIC_RPC2=https://ethereum-rpc.publicnode.com
NUXT_PUBLIC_RPC3=https://eth.drpc.org
NUXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NITRO_PRESET=vercel
